.title-bar {
    height: 60px;
    margin-top: 0px;
    padding-left: 50px;
    padding-top: 18px;
    color: #FFFFFF;
    background: #0696d3;
    font-size: 24px;
}
.logo {
    width: 50px;
    height: 50px;
}
.charts {
    width: 1200px;
    height: 500px;
    border: 1px solid #d9d9d9;
    margin: 0 auto;
}
.section1 {
    width: 598px;
    height: 500px;
    float: left;
    border-right: 1px solid #d9d9d9;
}
.pie-title {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    background: #e9e9e9;
    text-align: center;
}
#pie {
    width: 500px;
    height: 400px;
    margin: 0 auto;
}
.section2 {
    width: 600px;
    height: 500px;
    margin-left: 600px;
}
.line-title {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    background: #e9e9e9;
    text-align: center;
}
#line {
    width: 500px;
    height: 400px;
    margin: 0 auto;
}